<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-book fa-6x"></i>
    <h1 class="display-3">Selamat Datang di weBook</h1>
    <p class="secret-text">Silahkan Klik Submit Book.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/books" role="button">Submit a Book</a>
  </div>
</div>

<%- include('partials/footer') %>
